# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----#
#                                                                 #
#         CONFIG FILE TO CREATE INPUTS TO mkDataCards             #
#                                                                 #
# ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ----#

[general]
sample = OSWWQCD
outfolder = OSWWQCD_Allop
folder_prefix = to_Latinos_
outfile = histos.root
lumi = 100

[ntuples]

#folder = /afs/cern.ch/user/g/govoni/myeos/samples/2019_EFT/OSWWQCD/ntuples
folder = /afs/cern.ch/work/g/gboldrin/public/public/CMSSW_10_6_4/src/D6EFTStudies/generation/EFT/OSWWQCD_IN/NS/ntuples_final

[eft]
# This secction suppose a naming convention as output from the D6EFTStudies lhe routine
# for example a file name is: ntuple_SSWW_cHW_QU.root. 
# "operators" is a list of op names such as cHW while "component" refer to QU for 
# quadratic while LI for the linear term, IN for interference or SM ( superseeds the op field). 
# * retireves every possible file.
# The "model" fields specifies the way in which histograms will be merged (e.g. SM+LI+QU etc)
operators = [cHDD:cHWB:cHl1:cHl3:cHq1:cHq3:cW:cll1]
#operators = [cHl3]
models = EFT,EFTNeg,EFTNeg-alt
fitranges = cHDD:-20:20, cHWB:-20:20, cHl1:-50:50, cHl3:-10:10, cHq1:-10:10, cHq3:-10:10, cW:-10:10, cll1:-10:10
#fillMissing = 1 

#cuts are under work
[cuts]
normalcuts = met>30,mjj>500,mll>20,ptl1>20,ptl2>25,ptj1>30,ptj2>30,deltaetajj>2.5,etaj1<5,etaj1>-5,etaj2<5,etaj2>-5,etal1<2.5,etal2<2.5,etal1>-2.5,etal2>-2.5

[supercuts]
expr = -

[variables]
makeDummy = DATA
histonames = histo_OSWWQCD
treenames = met,mjj,mll,phij1,phij2,ptj1,ptj2,ptl1,ptl2,ptll,deltaetajj,deltaphijj,etaj1,etaj2,etal1,etal2
bins = 10,10,10,6,6,7,7,7,7,8,10,10,6,6,6,6
binsize = fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix,fix
xrange = [30:400],[500:2000],[20:700],[-3.1415:3.1415],[-3.1415:3.1415],[30:700],[30:400],[25:140],[25:300],[30:350],[2.5:8],[0:3.1415],[-5:5],[-5:5],[-2.5:2.5],[-2.5:2.5]
fold = 0

# This part generates some dummy files 
# in order to work with the Latinos framework.
# They should be edited and contain only minimal information.

[d_structure]
makeDummy = True

[d_samples]
name = []
weight = ''
weights = []
filesperjob = 2
makeDummy = True

[d_variables]
xaxis = "MET [GeV]","m_{jj} [GeV]","m_{ll} [GeV]","#phi_{j_{1}}","#phi_{j_{2}}","p_{T}^{j_{1}} [GeV]","p_{T}^{j_{2}} [GeV]","p_{T}^{l_{1}} [GeV]","p_{T}^{l_{2}} [GeV]","p_{T}^{ll} [GeV]","#Delta#eta_{jj}","#Delta#phi_{jj}","#eta_{j1}","#eta_{j2}","#eta_{l1}","#eta_{l2}"
name = auto
range = auto
fold = auto

makeDummy = True

[d_plot]
#group plots , name:options
#if "BSM" then group all BSM, else expects a list of samples names
#group = model:BSM,SM:[sm]
#g_colors = 400,851
group = all:all
isSignal = sm:0,DATA:0
#2D colors
colors = sm:921,lin:418:419,quad:617:618,sm_lin_quad:851:852,lin_mixed:100,sm_lin_quad_mixed:800,quad_mixed:752
#1D colors
#colors = sm:921,lin:418,quad:617
makeDummy = True

[d_alias]
makeDummy = True

[d_cuts]
makeDummy = True

[d_configuration]
tag = "OSWWQCD_cW_cHWB"
aliasesFile = auto
variablesFile = auto
cutsFile = auto
samplesFile = auto
plotFile = auto
lumi = 100
outputDirPlots = "plots"
outputDirDatacard = "datacards"
structureFile = auto
nuisancesFile = auto
makeDummy = True

[d_nuisances]
propagate = False
defname = lumi
name = lumi
#convention...
# FOr each nuisance you have to provide a sample list and a value
# they have to be in format [sample1:value1|sample2:value2|...] , [...]
# where the number of list equals the number of nuisances
#samples = [sm:1.02]
samples = [all:1.02]
types = lnN
makeDummy = True

